.container {
  width: 1000px;

  margin: 0 auto;
  background-color: rgb(187, 187, 187);
}
.list {
  padding: 50px;
}
.item {
  margin-bottom: 20px;
}
input {
  display: inline-table;
  margin-left: 100px;
}
