html,
body {
  width: 100vw;
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Gotham";
  src: url(../fonts/Gotham-Bold.otf);
}
/* HEADER + NAV */
header {
  width: 100%;
  display: flex;
  padding: 17px 0;
  justify-content: center;
}

.nav_wrapper {
  width: 83%;
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0;
}
.logo_wrapper {
  display: flex;
  justify-content: start;
  min-width: 200px;
  height: 32px;
}
.nav_list {
  color: #2f281e;
  width: 50%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.nav_item:nth-child(1) {
  color: #ff9900;
}
.buttons_wrapper {
  display: flex;
  justify-content: end;
  gap: 32px;
  flex-wrap: wrap;
}
nav button {
  width: 110px;
  height: 46px;
  padding: 13px auto;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 600;
  border-radius: 4px;
  text-transform: capitalize;
}
.signIn {
  background-color: #fff;
  border: 1px solid #bcd0e5;
  color: #2f281e;
}
.signUp {
  background-color: #f90;
  color: #fff;
}

/* MAIN */

/* FIRST SCREEN */
.FS_section {
  padding: 70px 120px 100px;
  width: 83%;
  margin: 0 auto;
}

.FS_container {
  display: flex;
  justify-content: space-between;
}

.FS_left_part {
  max-width: 500px;
  width: 50%;
  padding: 100px 0px;
}
.FS_title {
  color: #2f281e;
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 122.727%;
}
.FS_left_part p {
  color: #544837;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.FS_left_part button {
  margin-top: 20px;
  width: 180px;
  height: 50px;
  padding: 13px auto;
  background-color: #ff9900;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
}

.FS_right_part {
  width: 50%;
}
/* ABOUT */
.about_section {
  text-align: center;
  margin-bottom: 100px;
  background-image: url(../img/about-bg.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
}
.about_title {
  max-width: 540px;
  color: #2f281e;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin: 0 auto;
}

.about_container {
  width: 83%;
  margin: 0 auto;
  padding-bottom: 75px;
}

.about_item_title {
  color: #2f281e;
  font-size: 22px;
  font-weight: 600;
}
.about_p {
  margin-top: 16px;
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

.about_list {
  text-align: left;
  margin: 50px 0 70px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about_item {
  max-width: 270px;
}
.icon_wrapper {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: #7752be;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
i {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  align-self: center;
}
ul li:nth-child(2) > .icon_wrapper {
  background-color: #fab005;
}
ul li:nth-child(3) > .icon_wrapper {
  background-color: #f03e3d;
}
ul li:nth-child(4) > .icon_wrapper {
  background-color: #4dadf7;
}
.sign_up_btn {
  width: 180px;
  height: 50px;
  padding: 13px auto;
  background-color: #ff9900;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 700;
}
.sign_up_btn:last-of-type {
  margin-bottom: 0;
}

/* DESIGN */
.gen_section {
  text-align: center;
  margin-bottom: 100px;
}
.gen_section p {
  margin-top: 16px;
  color: #544837;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.gen_container {
  width: 83%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.gen_left {
  width: 50%;
  max-width: 525px;
  padding: 20px 0;
  text-align: start;
}

.gen_title {
  margin-bottom: 20px;
  max-width: 540px;
  color: #2f281e;
  font-size: 36px;
  font-weight: 700;
}
.gen_p {
  margin-bottom: 40px;
}
.gen_item:not(:last-child) {
  margin-bottom: 30px;
}
.gen_item_name {
  margin-bottom: 10px;
  color: #2f281e;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
}
.gen_right {
  width: 50%;
}

/* PRODUCT */
.product_wrap {
  display: flex;
  flex-direction: row-reverse;
}

.product_left {
  max-width: 505px;
}
.check_icon {
  min-width: 35px;
  min-height: 35px;
  background-color: #ff9900;
  border-radius: 10px;
  display: flex;
  align-self: center;
  justify-content: center;
}
.check_icon i {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
}

.product_left ul > li {
  display: flex;
  gap: 30px;
}
.product_left ul > li > p {
  width: 440px;
}

/* MARKET */
.market_wrap {
  display: flex;
}

.market_left {
  max-width: 485px;
}
/* FOOTER */
footer {
  width: 100%;
  display: flex;
  padding: 70px 0;
  justify-content: center;
}
.footer_nav {
  width: 83%;
  display: flex;
  justify-content: space-between;
}
.QL_item,
.stuff_item {
  max-width: 135px;
}
.footer_QL,
.footer_stuff,
.last_item_title {
  font-family: "Gotham";
  color: #2f281e;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.footer_QL,
.footer_stuff {
  margin-bottom: 30px;
  color: #2f281e;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.sub_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-wrap: wrap;
  color: #544837;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.last_list {
  max-width: 340px;
}
.last_item_title {
  margin-bottom: 25px;
}
.last_sub_list {
  display: flex;
  flex-direction: column;
}
input[type="tel"] {
  border-radius: 4px;
  border: 1px solid #bcd0e5;
  display: flex;
  width: 340px;
  height: 50px;
  padding: 0px 10px;
  align-items: center;
  margin-bottom: 25px;
}
input[type="tel"]::placeholder {
  color: #bcd0e5;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 400;
}
