.wrapper {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  margin: 0 auto;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_50 {
  margin-bottom: 50px;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 970px;
}

/* NAV */

.nav_item {
  display: inline-block;
}
.nav_list {
  font-size: 0;
  text-align: center;
}

.nav_link {
  text-transform: capitalize;
  color: #828282;
  font-size: 18px;
  font-weight: 400;
  padding: 25px 20px;
  display: inline-block;
  letter-spacing: 0.36px;
}
.nav_link.active {
  color: #000;
}
.nav {
  border-bottom: 1px solid #828282;
  background-color: #fff;
}

/* FIRST SCREEN */
.first_screen {
  background-color: #fff;
}
.main_name {
  color: #000;
  font-size: 48px;
  font-weight: 700;
  margin: 12px 0px 50px;
}
.img_wrapper {
  margin: 50px 0px 0px;
}

/* ABOUT ME */
.about_me {
  background-color: #f6f6f6;
}
.section_title {
  color: #000;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  padding-top: 100px;
  text-transform: capitalize;
}
.about_me_items {
  padding-bottom: 100px;
  width: 480px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.about_me_items p {
  margin-bottom: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

/* SKILLS */
.skills {
  background-color: #fff;
}
.skills_content {
  padding-bottom: 100px;
  width: 970px;
}
.skills_p {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  color: #000;
  margin-bottom: 50px;
}
.skills_list {
  font-size: 0;
}
.skills_item {
  width: 170px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
  margin-right: 95px;
}
.skills_item.figma {
  margin-right: 0px;
}

.skills_item:last-child {
  margin-right: 0;
}

.skills_img {
  width: 80px;
  height: 80px;
  margin-bottom: 25px;
  padding: 0 45px;
}

.skills_caption {
  font-weight: 700;
  font-size: 14px;
  color: #828282;
  width: 90px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 25px;
}
.skills_caption.figma {
  margin-bottom: 80px;
}
/* RATING */
.rating {
  margin-top: 60px;
  width: 100%;
  font-size: 0;
}
.rating_item {
  display: inline-block;
  width: 26px;
  height: 26px;
  background-repeat: no-repeat;
  background-image: url(../img/star.svg);
  background-position: center;
  margin-right: 10px;
}
.rating_item:last-child {
  margin-right: 0;
}
.rating_item.active {
  background-image: url(../img/star-black.svg);
}
/* PORTFOLIO */

.portfolio {
  background-color: #f6f6f6;
}
.portfolio_link {
  text-transform: capitalize;
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-decoration-line: underline;
  width: 200px;
  margin: 0 auto;
}
.portfolio_link.braun {
  width: 260px;
}
.portfolio_img {
  margin-bottom: 40px;
}
.portfolio_item {
  margin: 0px auto;
  margin-bottom: 70px;
}
.portfolio_item:last-child {
  margin-bottom: 0px;
  padding-bottom: 100px;
}

/* FOOTER */

.footer {
  background-color: #fff;
  padding-bottom: 100px;
}

.footer_p {
  text-align: center;
  margin-top: 20px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  width: 280px;
}
.button_wrapper {
  text-align: center;
}
.button {
  background: #000;
  color: #fff;
  width: 180px;
  height: 44px;
  border-radius: 22px;

  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.8px;
}

.media_list {
  font-size: 0;
  text-align: center;
}
.media_item {
  display: inline-block;
  margin-bottom: 60px;
  padding: 25px;
}

.media_ikon {
  width: 40px;
  height: 40px;
}

.footer_p_likeme {
  text-align: center;
  color: #828282;
  font-size: 14px;
  font-weight: 400;
}

/* SOME STUFF */
.nav_list a:hover {
  font-weight: bolder;
}

.button_wrapper:hover + ul > li {
  opacity: 0.5;
  transform: rotate(360deg);
  transition: all 1.2s ease-in-out;
}
