.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 55px 135px;
}
.form_wrapper {
  width: 570px;
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 16px;
}
/* Forms */
.left_form,
.right_form {
  width: 500px;
  margin: 0 auto;
}
/* Title */
.form_title {
  color: #1c1c1c;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.form_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* 1 Line */
.first_line {
  width: 100%;
  display: flex;
  gap: 10px;
}
.first_name,
.last_name {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.fn_lb,
.ln_lb {
  text-transform: capitalize;
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.fn_inp,
.ln_inp {
  display: flex;
  width: 245px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  color: #545454;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

/* 2 Line */
.sec_line {
  width: 500px;
  display: flex;
  justify-content: start;
  gap: 7px;
  flex-direction: column;
}
.lb_email {
  color: #545454;
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.inp_email {
  display: flex;
  width: 500px;
  height: 38px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  color: #545454;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

.bot_text_email {
  color: #969696;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}
/* 3 Line */
.third_rad_btn_line {
  display: flex;
  gap: 21px;
}
.radio_male {
  display: flex;
  gap: 8px;
}
.radio_female {
  display: flex;
  gap: 8px;
}
.radio_lb {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

/* 4 Line */
.line_four {
  display: flex;
  gap: 10px;
}
.select,
.city {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.select_lb,
.city_lb {
  text-transform: capitalize;
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.city_inp,
.select_inp {
  width: 245px;
  height: 38px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  color: #545454;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.select_inp {
  color: #969696;
}
/* Button sign up */
.signUP_btn {
  width: 500px;
  height: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: #007bff;
  border-radius: 6px;
  text-transform: capitalize;
}
/* Terms */
.terms {
  width: 410px;
  margin-top: 2px;
  color: #969696;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0 auto;
}

.blue_text {
  color: #007bff;
}
.line {
  width: 500px;
  height: 1px;
  margin: 0 auto;
  background-color: #e4e4e4;
}
/* Acc */
.acc {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.acc_p {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.logIn {
  color: #007bff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
}
