.container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 55px 135px;
}
/* General adjastments */
input {
  cursor: text;
}
button,
select,
a {
  cursor: pointer;
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input:focus,
select:focus {
  border-color: #007bff;
}
input::placeholder {
  color: #e4e4e4;
}

.form_wrapper {
  width: 570px;
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 16px;
}
/* Forms */
.form {
  width: 500px;
  margin: 0 auto;
}
/* Title */
.form_title {
  color: #1c1c1c;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.form_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* General styles */
.cont_block {
  display: flex;
  gap: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.lb {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.inp {
  width: 245px;
  height: 38px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  padding: 7px 10px;
  box-sizing: border-box;
  color: #545454;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.select_inp {
  color: #cacaca;
  border: none;
  width: 100%;
  height: 100%;
}

.sel_lb {
  padding: 0;
  position: relative;
  display: flex;
}
option:first-of-type {
  display: none;
}

/* arrows */
.arrows {
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  align-self: center;
}
.arrows i {
  width: 9px;
  height: 1px;
  color: #969696;
  display: flex;
  align-self: center;
}

/* Email left side */
.email {
  display: flex;
  flex-direction: column;
}

.inp_email {
  display: flex;
  width: 500px;
  height: 38px;
}

.bot_text_email {
  color: #969696;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}
/* Radio Buttons */
.radio_btns {
  display: flex;
  gap: 21px;
}
.radio_male {
  display: flex;
  gap: 8px;
}
.radio_female {
  display: flex;
  gap: 8px;
}
.radio_lb {
  cursor: pointer;
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.fake_radio {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 80px;
  border: 1px solid #e4e4e4;
}
label:has(input[type="radio"]:checked) {
  box-sizing: border-box;
  border: 6px solid #007bff;
}
input[type="radio"] {
  opacity: 0;
}

/* Buttons */
.signUP_btn {
  width: 500px;
  height: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: #007bff;
  border-radius: 6px;
  text-transform: capitalize;
}
.upd_btn {
  width: 150px;
  height: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: #007bff;
  border-radius: 6px;
  text-transform: capitalize;
}

/* Terms */
.terms {
  width: 410px;
  margin-top: 2px;
  color: #969696;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0 auto;
}

.terms_link {
  color: #007bff;
}
.line {
  width: 500px;
  height: 1px;
  margin: 0 auto;
  background-color: #e4e4e4;
}
/* Have an account? */
.acc {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.acc_p {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.logIn {
  color: #007bff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
}
/* Profile Form */
.ph__file_btn {
  display: flex;
  justify-content: flex-start;
}

.choose_img {
  position: absolute;
  color: #545454;
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.hero_img:hover img {
  box-sizing: border-box;
  filter: blur(2px) opacity(0.4);
}
.hero_img:hover .choose_img {
  opacity: 1;
}
.hero_img {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  position: relative;
  display: flex;
  align-content: center;
  justify-content: center;
}
.hero_img label {
  z-index: 1;
}
.hero_img:active .choose_img {
  transform: scale(1.1);
  transition: all 0.1s ease;
  color: #000;
}
.hero_img:active img {
  transform: scale(1.1);
  transition: all 0.1s ease;
}

.choose_img {
  width: 70px;
  position: absolute;
  display: flex;
  align-self: center;
  opacity: 0;
  box-sizing: border-box;
  color: #545454;
  font-family: Inter;
}
.hero_img img {
  cursor: pointer;
  border-radius: 80px;
}

.file_cont {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}
input[type="file"] {
  display: none;
}
.file_lb {
  display: flex;
  width: 138px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  color: #545454;
  cursor: pointer;
  position: relative;
}
.fa-camera {
  position: absolute;
  right: 8px;
  width: 16px;
  height: 16px;
  color: #969696;
}
.fa-camera:hover,
.fa-trash:hover {
  color: #545454;
}

.file_descr {
  color: #969696;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.delete_btn {
  width: 30px;
  height: 30px;
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  justify-content: center;
  align-self: center;
  position: relative;
  top: -15px;
}
.fa-trash {
  width: 16px;
  height: 16px;
  color: #969696;
}
.signUP_btn:hover,
.upd_btn:hover {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 250% 250%;
  animation: gradient 3s ease-in-out infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.inp:hover {
  background-color: rgba(105, 105, 105, 0.039);
}

.signUP_btn:active,
.upd_btn:active {
  transform: scale(0.98);
  box-shadow: 3px 5px 5px #0000001e;
}
