.container {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: #f7f7f7;
  padding: 55px 135px;
}
input {
  cursor: text;
}
button,
select,
a {
  cursor: pointer;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: transparent;
}
input:focus,
select:focus {
  border-color: #007bff;
}

.form_wrapper {
  width: 570px;
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 16px;
}
/* Forms */
.form {
  width: 500px;
  margin: 0 auto;
}
/* Title */
.form_title {
  color: #1c1c1c;
  font-family: "Roboto";
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 20px;
}
.form_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* General styles */
.cont_block {
  display: flex;
  gap: 10px;
}
.item {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.lb {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.inp {
  min-width: 245px;
  min-height: 38px;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  padding: 7px 10px;
  box-sizing: border-box;
  color: #545454;
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.select_inp {
  color: #969696;
  border: transparent;
  width: 100%;
}
.sel_lb {
  padding: 0;
  position: relative;
  display: flex;
}

/* arrows */
.arrows {
  position: absolute;
  display: flex;
  width: 18px;
  height: 18px;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  right: 10px;
  align-self: center;
}
.arrows i {
  width: 10px;
  height: 5px;
  color: #969696;
}

/* Email left side */
.email {
  display: flex;
  flex-direction: column;
}

.inp_email {
  display: flex;
  width: 500px;
  height: 38px;
}

.bot_text_email {
  color: #969696;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}
/* Radio Buttons */
.radio_btns {
  display: flex;
  gap: 21px;
}
.radio_male {
  display: flex;
  gap: 8px;
}
.radio_female {
  display: flex;
  gap: 8px;
}
.radio_lb {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}

/* Buttons */
.signUP_btn {
  width: 500px;
  height: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: #007bff;
  border-radius: 6px;
  text-transform: capitalize;
}
.upd_btn {
  width: 150px;
  height: 38px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
  background-color: #007bff;
  border-radius: 6px;
  text-transform: capitalize;
}

/* Terms */
.terms {
  width: 410px;
  margin-top: 2px;
  color: #969696;
  text-align: center;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
  margin: 0 auto;
}

.terms_link {
  color: #007bff;
}
.line {
  width: 500px;
  height: 1px;
  margin: 0 auto;
  background-color: #e4e4e4;
}
/* Have an account? */
.acc {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.acc_p {
  color: #545454;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.2px;
}
.logIn {
  color: #007bff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.1px;
}
/* Profile Form */
.ph__file_btn {
  display: flex;
  justify-content: flex-start;
}
.hero_img img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  margin-right: 20px;
}
.file_cont {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}
input[type="file"] {
  display: none;
}
.file_lb {
  display: flex;
  width: 138px;
  height: 30px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  color: #545454;
  cursor: pointer;
  position: relative;
}
.fa-camera {
  position: absolute;
  right: 8px;
  width: 16px;
  height: 16px;
  color: #969696;
}
.fa-camera:hover,
.fa-trash:hover {
  color: #545454;
}

.file_descr {
  color: #969696;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.1px;
}

.delete_btn {
  width: 30px;
  height: 30px;
  display: flex;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  justify-content: center;
  align-self: center;
  position: relative;
  top: -15px;
}
.fa-trash {
  width: 16px;
  height: 16px;
  color: #969696;
}
