$mainFontFamily: "Red Hat Display", sans-serif;
$additionalFontFamily: "Lato", sans-serif;

$primaryTextColor: #000;
$secondaryTextColor: #565656;
$subTextColor: #7b7b7b;

@mixin black_text {
  font-weight: 400;
  color: #000;
}

@mixin paragr_text {
  font-weight: 400;
  color: #565656;
}
@mixin tags_text {
  font-weight: 400;
  color: #7b7b7b;
}
