@import url(./reset.css);
.search_input {
  display: none;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

header,
main,
footer {
  width: 100%;
  margin: 0 auto;
}

.section {
  display: flex;
  gap: 50px;
  flex-direction: column;
  width: 81.25%;
  margin: 0 auto;
}

.lat_posts_description,
.m_pop_description,
.blog_description {
  font-weight: 400;
  color: #565656;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 0.8px;
}

header {
  width: 100%;
  position: fixed;
  max-width: 1440px;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

.header_wrapper {
  width: 81.25%;
  max-width: 1170px;
  padding: 40px 0;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo {
  min-width: 142px;
  margin-right: auto;
}

.search {
  margin-left: 85px;
}

.search_svg {
  width: 17px;
  height: 16px;
}

.hamburger {
  display: none;
}

.nav_list {
  transition: all 0.3s ease;
}

.logo_mobile {
  display: none;
}

.nav_items {
  display: flex;
  gap: 42px;
}

.nav_item_link {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  position: relative;
  font-weight: 400;
  color: #000;
  font-size: 14px;
  letter-spacing: 4.2px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s ease;
}

@media screen and (min-width: 968px) {
  .nav_item_link:hover::after {
    content: "";
    background-color: #000;
    height: 1px;
    width: 70%;
    bottom: -6px;
    left: 13%;
    position: absolute;
    display: block;
  }
}
.main_wrapper {
  display: flex;
  flex-direction: column;
  gap: 90px;
  margin-top: 35px;
}

.hero {
  width: 100%;
  padding: 300px 0;
  background-image: url(../img/jpg/hero_bg.webp);
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  margin-top: 154px;
}

.hero_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  max-width: 770px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  letter-spacing: 2.4px;
  position: absolute;
  top: 46px;
}

.blog_main_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2.4px;
}

.blog_container {
  display: flex;
  gap: 30px;
}

.blog_pictures {
  width: calc(50% - 15px);
}

.blog_content {
  width: calc(50% - 15px);
  display: flex;
  align-items: center;
}

.blog_second {
  flex-direction: row-reverse;
}

.blog_content:has(.blog_content_second) {
  justify-content: end;
}

.blog_content_wrapper {
  max-width: 450px;
}

.blog_tag {
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 1.6px;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.blog_tag .blog_tag_title:not(:last-child)::after {
  content: ",";
}

.blog_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.3px;
  margin-bottom: 15px;
}

.blog_downtitle {
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 1.6px;
  margin-bottom: 50px;
}

.blog_description::after {
  content: url(../img/arrow.svg);
  margin-left: 20px;
}

.section_nav {
  display: flex;
}

.section_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 166%;
  letter-spacing: 2.8px;
}

.section_view_all_link {
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 1.6px;
  margin-left: auto;
}
.section_view_all_link::after {
  content: url(../img/arrow.svg);
  margin-left: 20px;
}

.latest_posts_list {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.latest_posts_item {
  display: flex;
  flex-direction: column;
  gap: 25px;
  max-width: 370px;
}

.lat_posts_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.lat_posts_heading {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 1.2px;
}

.lat_posts_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lat_posts_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.2px;
}

.most_popular_content {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.m_pop_item {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(50% - 15px);
}

.m_pop_text,
.m_pop_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.m_pop_heading {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: #7b7b7b;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 166%;
  letter-spacing: 1.2px;
}

.m_pop_title {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 166%;
  letter-spacing: 2.2px;
}

.button_load_more {
  display: flex;
  justify-content: center;
}

.button {
  padding: 10px 45px;
  background-color: #565656;
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 166%;
  letter-spacing: 1.6px;
  position: relative;
}

.button::before {
  content: "";
  background: linear-gradient(45deg, #ffaa00, #00d9ff, #ffb300, #00fffb, #ff9d00);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  display: none;
  transition: opacity 0.3s ease-in-out;
}
.button:hover::before {
  display: block;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 500% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.info {
  margin-bottom: 90px;
}

.info_wrapper {
  display: flex;
  justify-content: space-between;
}

.iposition {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 23px;
  line-height: 166%;
  letter-spacing: 2.3px;
  max-width: 50%;
  position: relative;
}
.iposition::after {
  content: url(../img/arrow.svg);
  position: absolute;
}

.idescription {
  font-weight: 400;
  color: #565656;
  font-family: "Lato", sans-serif;
  font-size: 19px;
  line-height: 32px;
  letter-spacing: 0.95px;
  width: 50%;
  max-width: 470px;
}

.info_description_item:not(:last-of-type) {
  margin-bottom: 32px;
}

footer {
  background-color: #f4f4f4;
}

.footer_wrapper {
  width: 81.25%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 70px 0 30px;
}

.footer_nav_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.address_wrapper {
  display: flex;
  flex-direction: column;
}
.address_wrapper a {
  font-weight: 400;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 166%;
  letter-spacing: 1.6px;
}

.tel {
  margin-bottom: 15px;
}

.contacts_q {
  font-weight: 400;
  color: #000;
  font-family: "Red Hat Display", sans-serif;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 2.4px;
  margin-bottom: 30px;
}

.socials_list {
  display: flex;
  gap: 23px;
}

.socials_item {
  width: 50px;
  height: 50px;
  border: 1px solid #565656;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}
.socials_item:hover {
  background-color: #565656;
  border-radius: 5px;
}
.socials_item:hover .soc_svg {
  --p1: #fff;
}

.socials_link {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.inst_icon,
.linkedIn_icon {
  width: 26px;
  height: 24px;
}

.fb_icon {
  width: 14px;
  height: 24px;
}

.twitter_icon {
  width: 30px;
  height: 24px;
}

.copyright {
  text-align: center;
  margin-top: 25px;
  font-weight: 400;
  color: #000;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 166%;
  /* 19.92px */
  letter-spacing: 1.2px;
}

@media screen and (max-width: 968px) {
  .search_svg {
    width: 20px;
    height: 20px;
  }

  header {
    height: 60px;
    display: flex;
    align-content: center;
  }

  .header_wrapper {
    padding: 7px 0;
    width: 91.15%;
  }

  .logo_mobile {
    display: block;
    width: 70%;
  }

  .logo,
.search {
    display: flex;
    align-self: center;
  }

  .hamburger {
    display: block;
    margin-left: 40px;
    display: flex;
    align-self: center;
    transition: all 0.3s ease-in-out;
  }

  .hamburger-box {
    width: 34px;
    height: 20px;
  }

  .menu_active main {
    position: fixed;
  }
  .menu_active .header_wrapper::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .menu_active .logo,
.menu_active .search {
    display: none;
  }
  .menu_active .nav_list {
    transform: translate(0);
    z-index: 2;
    opacity: 1;
  }
  .menu_active .hamburger {
    z-index: 3;
    position: absolute;
    right: 35px;
  }

  .nav_list {
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    background-color: #fff;
    padding: 100px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    z-index: 1;
    transform: translate(100%);
    opacity: 0;
  }
  .nav_list .nav_items {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 20px;
  }
  .nav_list .nav_item {
    width: 100%;
  }
  .nav_list .nav_item::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 0 auto;
  }
  .nav_list .nav_item::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    margin: 0 auto;
  }
  .nav_list .nav_item_link {
    padding: 20px 0;
    display: inline-block;
    width: 100%;
  }
  .nav_list .nav_item_link:active .nav_item_text {
    font-weight: bolder;
  }
  .nav_list .nav_item_text {
    position: relative;
    font-size: 18px;
  }

  .logo {
    min-width: 145px;
  }

  .section {
    gap: 50px;
  }

  .main_wrapper {
    gap: 70px;
    margin-top: 70px;
  }

  .hero {
    background: url(../img/jpg/bg-image_tablet.webp);
    padding: 160px 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    margin-top: 60px;
  }

  .hero_title {
    font-size: 36px;
    max-width: 545px;
    top: 30px;
    line-height: 50px;
    letter-spacing: 1.8px;
  }

  .blog_container {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .blog_pictures,
.blog_content {
    width: calc(50% - 10px);
  }

  .blog_tag {
    margin-bottom: 15px;
  }

  .blog_downtitle {
    margin-bottom: 20px;
  }

  .latest_posts_list {
    flex-direction: column;
  }

  .latest_posts_item {
    width: 100%;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
  }
  .latest_posts_item:nth-child(2n) {
    flex-direction: row-reverse;
  }
  .latest_posts_item .lat_posts_image,
.latest_posts_item .lat_posts_text {
    max-width: calc(50% - 10px);
  }

  .most_popular_content {
    gap: 20px;
    flex-wrap: nowrap;
  }

  .button:hover::before {
    display: none;
  }

  .info {
    margin-bottom: 70px;
  }

  .info_wrapper {
    flex-direction: column;
    gap: 70px;
  }
  .info_wrapper .iposition {
    display: flex;
    min-width: 100%;
  }
  .info_wrapper .iposition::after {
    content: url(../img/arrow.svg);
    position: absolute;
    bottom: -35px;
    left: 0;
  }
  .info_wrapper .idescription {
    display: flex;
    align-self: flex-end;
    text-align: end;
    min-width: 100%;
    position: relative;
  }

  .footer_wrapper {
    width: 91.15%;
    max-width: 700px;
    padding: 50px 0;
  }

  .footer_nav_wrapper {
    flex-direction: column;
  }

  .address_wrapper {
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 11px;
  }

  .contacts_q {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 568px) {
  .header_wrapper {
    width: 93.75%;
  }

  .main_wrapper {
    gap: 70px;
  }

  .section {
    width: 93.75%;
  }

  .hamburger {
    display: block;
    margin-left: 20px;
  }

  .menu_active .hamburger {
    position: absolute;
    right: 10px;
  }

  .hero {
    width: 100%;
    background: url(../img/jpg/bg-image_mob.webp);
    padding: 250px 0;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .hero_title {
    top: 70px;
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  .blog_container {
    width: 100%;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .blog_content:has(.blog_content_second) {
    justify-content: start;
  }

  .blog_pictures,
.blog_content {
    width: 100%;
  }

  .blog_main_title {
    text-align: center;
  }

  .blog_title {
    margin-bottom: 10px;
    font-size: 22px;
    letter-spacing: 2.2px;
  }

  .blog_downtitle {
    margin-bottom: 40px;
  }

  .latest_posts_item {
    max-width: 100%;
    flex-direction: column;
    gap: 25px;
  }
  .latest_posts_item:nth-child(2n) {
    flex-direction: column;
  }
  .latest_posts_item .lat_posts_image,
.latest_posts_item .lat_posts_text {
    max-width: 100%;
  }

  .section_nav {
    display: block;
  }

  .section_title {
    margin-bottom: 10px;
  }

  .latest_posts_list {
    gap: 50px;
  }

  .latest_posts_item {
    display: flex;
    gap: 25px;
  }

  .lat_posts_heading,
.m_pop_heading {
    font-size: 16px;
    letter-spacing: 1.6px;
  }

  .latest_posts,
.most_popular {
    display: flex;
    gap: 30px;
  }

  .most_popular_content {
    gap: 50px;
    flex-direction: column;
  }

  .m_pop_item {
    width: auto;
    gap: 25px;
  }

  .m_pop_text {
    gap: 15px;
  }

  .info_description {
    text-align: start;
  }

  .info_wrapper {
    gap: 50px;
  }

  .iposition {
    font-size: 24 px;
    letter-spacing: 2.4px;
  }

  .idescription {
    font-size: 18px;
    letter-spacing: 0.9px;
  }

  .contacts_q {
    font-size: 32px;
    line-height: normal;
    letter-spacing: 1.6px;
  }

  .address_wrapper {
    padding-bottom: 0;
    margin-bottom: 40px;
  }

  .copyright {
    margin-top: 40px;
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}