body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 6%,
    rgba(148, 187, 233, 1) 100%
  );
}
.wrapper {
  padding: 50px;
  text-align: center;
}
h1 {
  margin-bottom: 30px;
}

.container {
  padding: 20px;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  background: linear-gradient(
      270deg,
      rgba(50, 50, 50, 0.081) 0%,
      rgba(255, 255, 255, 0.24) 24.1%,
      rgba(21, 21, 21, 0) 47.19%
    ),
    rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(9px);
}

button {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    background-color: rgba(164, 255, 172, 0.4);
  }
}
