.bold-text {
  font-weight: bold;
}

.red_code {
  color: rgb(104, 7, 7);
}
.blue_code {
  color: rgb(0, 0, 130);
}
.code_example {
  background-color: rgb(230, 230, 230);
  margin-left: 50px;
  padding: 10px;
}
.code {
  background-color: rgb(250, 250, 250);
  border: 3px solid green;
  border-bottom: none;
  border-top: none;
  border-right: none;
  margin-left: 10px;
}

.navigation {
  list-style-type: none;
  text-align: center;
}
.navigation li {
  display: inline;
  margin: 10px;
}
.main_title {
  text-align: center;
}
.wrapper {
  margin-left: 30px;
}
